<div class="colorful">
  <div class="row">
    <button class="right btn" [routerLink]="['/admin']">Admin Log</button>
    <div class="card col s12 m6 offset-m3">
      <span class="card-title">Acceso a usuario</span>
      <form class="col s12" (submit)="login()" [formGroup]="form">
        <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate" formControlName="username">
            <label for="username">Username</label>
            <span class="helper-text" *ngIf="failedRegister">Nombre de usuario registrado</span>
            <span class="helper-text" *ngIf="failedLogin">Nombre de usuario no encontrado</span>
          </div>
        </div>
        <div>
          <div class="row">
            <button style="margin-bottom: 2%" [disabled]="!form.valid" (click)="login()" type="submit" name="btn_login" class="col s12 btn btn-large waves-effect indigo">Acceder</button>
            <button type="button" name="btn_login" [disabled]="!form.valid" (click)="register()" class="col s12 btn btn-large waves-effect indigo">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
