<nav class="light-green accent-3">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">EasyCredit</a>
    <ul id="nav-mobile" class="right">
      <li>
        <span (click)="logOut()">Salir</span>
      </li>
    </ul>
  </div>
</nav>
