<app-navbar *ngIf="logged"></app-navbar>
<div class="colorful">
  <div class="container-fluid">
    <div class="row" *ngIf="!logged">
      <div class="card col s12 m6 offset-m3">
        <span class="card-title">Admin dashboard</span>
        <form class="col s12" (submit)="login()">
          <div class="row">
            <div class="input-field col s12">
              <input class="validate" type="text" [(ngModel)]="user" name="user" id="user" />
              <label for="user">Ingrese su usuario</label>
            </div>
          </div>
          <div>
            <div class="row">
              <button type="submit" name="btn_login" class="col s12 btn btn-large waves-effect indigo">Login</button>
            </div>
          </div>
          <small *ngIf="!admin" class="red-text">{{responseText}}</small>
        </form>
      </div>
    </div>
    <div class="row tableHeight" *ngIf="admin">
      <table class="container highlight ">
        <thead>
          <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Edad</th>
            <th>Plazo</th>
            <th>Pago Total</th>
            <th>Fecha</th>
            <th>Aceptar rechazar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of requests; let i = index">
            <td>{{i + 1}}</td>
            <td>{{r.t_client}}</td>
            <td>{{r.t_age}}</td>
            <td> {{r.t_time}} Meses </td>
            <td> ${{r.t_totalpayment}} </td>
            <td> {{r.t_date | date}} </td>
            <td>
              <div class="preloader-wrapper active" *ngIf="loading">
                <div class="spinner-layer spinner-red-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <span *ngIf="!loading">
                <i (click)="process('a',r.t_recordid)" class="material-icons acept">check</i>
                <i (click)="process('r',r.t_recordid)" class="material-icons reject">close</i>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
