i{
    cursor: pointer;
    margin-right: 5%;
}

.tableHeight{
    height: 100vh;
    overflow-y: auto;
}

.card{
    margin-top: 5%;
}

.acept:hover{
    color: green;
}

.reject:hover{
    color: red;
}

.colorful {
    height: 100vh;
    background:
      -webkit-linear-gradient(315deg, hsla(180.23, 93.68%, 48.4%, 1) 0%, hsla(180.23, 93.68%, 48.4%, 0) 70%),
      -webkit-linear-gradient(65deg, hsla(121.88, 99.11%, 46.32%, 1) 10%, hsla(121.88, 99.11%, 46.32%, 0) 80%),
      -webkit-linear-gradient(135deg, hsla(176.41, 97.84%, 43.95%, 1) 15%, hsla(176.41, 97.84%, 43.95%, 0) 80%),
      -webkit-linear-gradient(205deg, hsla(309.92, 95.55%, 40.18%, 1) 100%, hsla(309.92, 95.55%, 40.18%, 0) 70%);
    background:
      linear-gradient(135deg, hsla(180.23, 93.68%, 48.4%, 1) 0%, hsla(180.23, 93.68%, 48.4%, 0) 70%),
      linear-gradient(25deg, hsla(121.88, 99.11%, 46.32%, 1) 10%, hsla(121.88, 99.11%, 46.32%, 0) 80%),
      linear-gradient(315deg, hsla(176.41, 97.84%, 43.95%, 1) 15%, hsla(176.41, 97.84%, 43.95%, 0) 80%),
      linear-gradient(245deg, hsla(309.92, 95.55%, 40.18%, 1) 100%, hsla(309.92, 95.55%, 40.18%, 0) 70%);
    }