<app-navbar></app-navbar>
<div class="colorful">
  <div class="container-fluid">
    <div class="row">
      <div class="col s12 l4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title center-align">Informacion del usuario</span>
            <div class="row center-align">
              <div class="col s12 m6 offset-m3">
                <img src="assets/user.jpg" alt="" style="width: 60%">
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                <p>Nombre de usuario: {{username}} </p>
                <p>Solicitudes realizadas: {{records?.length}}</p>
                <p>Solicitudes en espera:{{recordsPending?.length}} </p>
                <p *ngIf="records?.length >= 1">% de aprovación: {{((aproved * 100) / records?.length).toFixed(2)}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Historial Crediticio</span>
            <div class="card-content red-text" *ngIf="records?.length == 0">
              <p>
                <i class="mdi-navigation-check">Aun no cuentas con historial</i>
              </p>
            </div>
            <table *ngIf="records?.length != 0">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Meses</th>
                  <th>Total</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of records">
                  <td>{{r.t_date | date}}</td>
                  <td>{{r.t_time}} </td>
                  <td>${{r.t_totalpayment}}</td>
                  <td *ngIf="r.t_status === 'r'">
                    <i class="material-icons red-text">close</i>
                    <td *ngIf="r.t_status === 'a'">
                      <i class="material-icons green-text">check</i>
                    </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col s12 l4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">Solicitudes Pendientes</span>
            <div class="card-content red-text" *ngIf="recordsPending?.length == 0">
              <p>
                <i class="mdi-navigation-check">Aun no cuentas solicitudes pendientes</i>
              </p>
            </div>
            <table *ngIf="recordsPending?.length != 0">
              <thead>
                <tr>
                  <th>Fecha</th>
                  <th>Meses</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let r of recordsPending">
                  <td>{{r.t_date | date}}</td>
                  <td>{{r.t_time}} </td>
                  <td>${{r.t_totalpayment}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <button class="activator waves-effect waves-light btn right" [disabled]="recordsPending?.length > 6">Nueva Solicitud</button>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Nueva Solicitud
              <i class="material-icons right">close</i>
            </span>
            <form class="col s12" [formGroup]="form">
              <div class="row">
                <div class="input-field col s12">
                  <input id="quantity" type="number" class="validate" formControlName="quantity">
                  <label for="quantity">Monto a solicitar</label>
                  <small class="red-text" *ngIf="form.controls.quantity.touched && !form.controls.quantity.valid">Favor dar una cantidad valida</small>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="age" type="number" class="validate" formControlName="age">
                  <label for="age">Edad</label>
                  <small class="red-text" *ngIf="form.controls.age.touched && !form.controls.age.valid">Es necesario contar con mas de 20 años</small>
                </div>
              </div>
              <div class="row">
                ¿Cuenta con tarjeta de credito?
                <div class="switch">
                  <label>
                    No
                    <input type="checkbox" formControlName="creditCar">
                    <span class="lever"></span>
                    Si
                  </label>
                </div>
                <small class="red-text" *ngIf="!form.controls.creditCar.value">Es necesario contar con tarjeta de credito</small>
              </div>
              <div class="row">
                Plazo
                <p>
                  <input formControlName="time" name="time" id="three" type="radio" value=1.05 />
                  <label for="three">
                    3 meses
                  </label>
                </p>
                <p>
                  <input name="time" id="six" type="radio" value=1.07 formControlName="time" />
                  <label for="six">
                    6 meses
                  </label>
                </p>
                <p>
                  <input name="time" id="nine" type="radio" value=1.12 formControlName="time" />
                  <label for="nine">
                    9 meses
                  </label>
                </p>
              </div>
              <div *ngIf="totalPayment > 0">
                <div class="row">
                  <p>Pago total despues del plazo: ${{totalPayment}}</p>
                </div>
                <div class="row">
                  <button (click)="save()" class="btn waves-effect waves-light activator col s10" type="button" name="action">Solicitar </button>
                  <span (click)="getRecords()" class="card-title">
                    <i class="material-icons right col s2">close</i>
                  </span>
                </div>
              </div>
              <div class="preloader-wrapper active" *ngIf="loading">
                <div class="spinner-layer spinner-red-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                  </div>
                </div>
              </div>
              <div *ngIf="response">
                {{response}}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
